@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: radial-gradient(#f1f1f1 1px, transparent 2px) 0 0 / 20px 20px;
  background-color: #fafafa;
  -webkit-tap-highlight-color: transparent;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
